<!-- 
<!DOCTYPE html>
<html>
<head>
    <title>Survey Form</title>
</head>
<body>
    <h1>Survey Form</h1>
    <form method="post" action="/submit">
        <label for="quiz">Quiz:</label>
        <input type="text" id="quiz" name="quiz" required>

        <hr>

        <% for(let i=0; i<5; i++){ %>
            <div>
                <label for="questions[<%= i %>][question]">Question <%= i+1 %>:</label>
                <input type="text" id="questions[<%= i %>][question]" name="questions[<%= i %>][question]" required>

                <label for="questions[<%= i %>][options]">Options (separated by comma):</label>
                <input type="text" id="questions[<%= i %>][options]" name="questions[<%= i %>][options]" required>

                <label for="questions[<%= i %>][response]"> Response:</label>
                <input type="text" id="questions[<%= i %>][response]" name="questions[<%= i %>][response]" required>
            </div>
            <hr>
        <% } %>

        <input type="submit" value="Submit">
    </form>
    <a href="/results">View Results</a>  
</body>
</body>
</html>   
-->
<!DOCTYPE html>
<html>
<head>
    <title>Create Survey Form</title>
</head>
<body>
    <h1>Create Survey Form index.ejs</h1>
    <form method="post" action="/submit">
        <label for="quiz">Topic:</label>
        <input type="text" id="quiz" name="quiz" required>

        <hr>

        <% for(let i=0; i<5; i++){ %>
            <div>
                <label for="questions[<%= i %>][question]">Question <%= i+1 %>:</label>
                <input type="text" id="questions[<%= i %>][question]" name="questions[<%= i %>][question]" required>

                <% for (let j = 0; j < 3; j++) { %>
                    <div>
                        <!--<input type="radio" id="questions[<%= i %>][options][<%= j %>]" name="questions[<%= i %>][options]" value="<%= j %>" required> -->
                        <label for="questions[<%= i %>][options][<%= j %>]">Option <%= j+1 %>:</label>
                        <!-- <input type="text" id="questions[<%= i %>][options][<%= j %>]" name="questions[<%= i %>][options][<%= j %>]" required>  -->
                        <input type="text" id="questions[<%= i %>][options][<%= j %>]" name="questions[<%= i %>][options][<%= j %>]">
                    </div>
                <% } %>

                <!-- <label for="questions[<%= i %>][response]"> Response:</label>
                <input type="text" id="questions[<%= i %>][response]" name="questions[<%= i %>][response]" required> -->
            </div>
            <hr>
        <% } %>

        <input type="submit" value="Submit">
    </form>
    <a href="/viewnewsurvey">View Results</a> <!-- Add a link to view survey results -->
    
</body>
</html>
